@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
header li a {
    text-decoration:none;
    color: #ff0000;
    font-family: "Lato", sans-serif;
    }


.header {
    padding: 25.5px;
}

.header-menu li {
    display: inline-block;
    margin: 12px;
    text-transform: uppercase;
    font-size: 20px;
}

.header-menu {
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
.button-get {
    font-style: italic;
    background: #ff0000;
    color: aliceblue;
    border-radius: 3px;
    padding: 17px 44px;
    font-weight: bold;
    }

.btn-text {
    color: white;
    display: inline-block;
    text-align: center;
}
.background {
    height: calc(100vh - 142px);
    background: url("../image/fon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    text-transform: uppercase;
    text-align:center;
    font-size: 22px;
}

.section {
    text-align: center;
    padding: 100px 0s;
}

.sub-title {
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}

.pic-mid {
        text-align: center;
        padding-top: 40px;
    }
.sub-title2 {
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}
  
.title-footer{
        text-align: right;
    }