.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #313131;
  color: white;
  height: 70px;
  width: 1900px;
  font-size: 22px;
  font-family: Open Sans;
}

.galereia {
  width: 1200px;
  margin: 0 auto;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img.content-img {
  margin: 15px;
}

nav.menu {
  display: flex;
  align-items: center;
}
p.text-left {
  margin-left: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-item li {
  margin: 15px;
  color: #ff0000;
}

.menu a {
  color: #ffffff; /* Цвет ссылок */
  text-decoration: none; /* Убираем подчеркивание */
}
.menu-item-red {
  color: #ffffff;
}
.menu-item-red a:hover {
  color: red; /* Цвет ссылок при наведении на них курсора мыши */
}

.menu-item-blue {
  text-transform: uppercase;
}

.menu-item-blue1 {
  text-transform: uppercase;
}

.menu-item-blue1 a:hover {
  color: #14b9d5;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 70px;
  background-color: rgb(0, 0, 0);
}
.banner {
  width: 370px;
  margin: 10px;
}

.banner-center {
  display: flex;
  background-image: url("../img/header-background.png");
  height: 369px;
  width: 1900px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-banner {
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}
.button-holder {
  margin-top: 44px;
}
/* .text-banner {
  top: auto;
  left: auto;
} */

button.green {
  width: 170px;
  height: 55px;
  color: white;
  font-size: 18px;
  background: #89ca62;
}

.green {
  margin-right: 5px;
}

button.blue {
  width: 170px;
  height: 55px;
  color: white;
  font-size: 18px;
  background: #14b9d5;
}

.blue {
  margin-left: 5px;
}

.title-medium {
  display: flex;
  justify-content: center;
}

p.title-medium {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  color: #18b4cf;
  height: 100px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-post {
  display: flex;
  justify-content: center;
}

.text-post-bottom {
  display: grid;
  height: 359px;
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  text-transform: uppercase;
  grid-row-start: 2;
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
}

.line {
  width: 100px;
  height: 6px;
  background-color: #18b4cf;
  border: none;
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  align-self: center;
}
.banner-bottom {
  display: grid;
  background-image: url("../img/main-background.png");
  width: 1900px;
  height: 588px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.banner-bottom-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  width: 1200px;
  grid-row-start: 3;
  grid-column-start: 2;
}
.banner-bottom-item1 {
  background-image: url("../img/title1.png");
  background-repeat: no-repeat;
}

.banner-bottom-item2 {
  background-image: url("../img/title2.png");
  background-repeat: no-repeat;
}

.banner-bottom-item3 {
  background-image: url("../img/title3.png");
  background-repeat: no-repeat;
}

.banner-bottom-item4 {
  background-image: url("../img/title4.png");
  background-repeat: no-repeat;
}

p.text-bottom {
  color: #18b4cf;
  justify-self: center;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 27px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Montserrat", Open Sans;
}

.bottom-item {
  display: inline;
}
.bottom-item1 {
  width: 270px;
  height: 190px;
}

.bottom-item2 {
  width: 270px;
  height: 190px;
}

.bottom-item3 {
  width: 270px;
  height: 190px;
}

.bottom-item4 {
  width: 270px;
  height: 190px;
}

.bottom-item5 {
  width: 270px;
  height: 190px;
}

.bottom-item6 {
  width: 270px;
  height: 190px;
}

.bottom-item7 {
  width: 272px;
  height: 190px;
}

.hot-news-item {
  display: grid;
  /* grid-template-rows: 259px 1fr;
  grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 30px 35px;
  grid-template-rows: auto;
  grid-template-areas:
    "a a a b"
    "c c d d"
    "f f g g"
    "z k k k";
}

.hots-news-item1 {
  display: grid;
  grid-area: a;
  grid-template-columns: 1fr 1fr;
  font-family: "Montserrat", Sans sans-serif;
  font-size: 14px;
  text-align: right;
  line-height: 1.3em;
  background-color: #f9f7f7;
}

.hots-news-item2 {
  grid-area: b;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-size: 18px;
  text-align: center;
}

.hots-news-item3 {
  grid-area: c;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-size: 18px;
  text-align: center;
}

.hots-news-item4 {
  grid-area: d;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-weight: 10;
  font-size: 18px;
  text-align: center;
}

.hots-news-item5 {
  grid-area: f;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 1.3em;
  background-color: #f9f7f7;
  grid-column-start: 3;
}
}

.hots-news-item6 {
  grid-area: g;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-weight: 10;
  font-size: 18px;
  text-align: center;
}

.hots-news-item7 {
  grid-area: z;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-weight: 10;
  font-size: 18px;
  text-align: center;
}

.hots-news-item8 {
  grid-area: k;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-weight: 10;
  font-size: 18px;
  text-align: center;
  line-height: 1.3em;
  background-color: #f9f7f7;
  grid-template-columns: 1fr 1fr;
}

p.hot-news {
  color: #18b4cf;
  justify-self: center;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 27px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Montserrat", Open Sans;
}

.img-70 {
  width: 483px;
  height: 259px;
}

.img-30 {
  width: 277px;
  height: 210px;
}

.txt-30 {
  width: 277px;
  height: 48px;
  background: #f9f7f7;
}

.img-50 {
  width: 554px;
  height: 259px;
}

.img-hotel-spa {
  width: 483px;
  height: 259px;
}

.txt-50 {
  width: 554px;
  height: 154px;
  background: #f9f7f7;
}

.hot-news-box1-title {
  font-weight: bold;
}
.hot-news-box2-title {
  font-weight: bold;
}
.hot-news-box3-title {
  font-weight: bold;
}

.hot-news-box4-title {
  font-weight: bold;
}

.hot-news-box5-title {
  font-weight: bold;
}

.hot-news-box6-title {
  font-weight: bold;
}
.hot-news-box7-title {
  font-weight: bold;
}

.hot-news-box8-title {
  font-weight: bold;
}

.footer-bottom {
  width: 1929px;
  height: 80px;
  background: #000000;
}

.txt-footer{
  color: #ffffff;
}

.footer-bottom {
  display: grid;
  align-self: center;
  grid-template-columns: 10% 40% 20% 30%;
  grid-gap: 30px 35px;
  grid-template-rows: auto;
  grid-template-areas:
    ". l . m";
}

.txt-footer {
  grid-area: l;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
}

.footer-image {
  grid-area: m;
  display: grid;
  font-family: "Montserrat", Sans sans-serif;
  font-size: 18px;
  text-align: left;
  display: inline;
  padding-top: 20px;
}
