@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.page-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1045px;
  height: 150px;
  margin: 0 auto;
  top: 46px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1024px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

.header-right {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  position: relative;
  top: -60px;
}
.header-right :hover {
  color: #f26522;
}

.header-left {
  display: flex;
  align-self: flex-start;
}

.logo-link:hover .logo-text {
  color: #f26522;
}
.logo-link:hover .logo-container::before {
  content: url(../img/logo_hover.png);
}
.header-right {
  font-size: 21px;
  text-align: right;
}
.header-right :last-child {
  margin-top: 20px;
}
.header-right a:hover {
  color: #f26522;
}
.main {
  display: grid;
  grid-template: repeat(2, 260px) / repeat(3, auto);
  grid-column-gap: 50px;
  grid-row-gap: 35px;
  position: relative;
  align-content: center;
}
.category-item {
  width: 300px;
  height: 260px;
  text-align: center;
}
.category-item-link:hover .category-item-header {
  color: #f26522;
}
.category-item-link:hover .category-item-description {
  visibility: visible;
  bottom: 0px;
}
.category-item-img-container {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.category-item-img {
  display: block;
  width: 296px;
  height: 216px;
  border-left: 2px solid;
  border-right: 2px solid;
}
.category-item-description {
  width: 100%;
  height: 55px;
  background-color: #f26522;
  position: absolute;
  bottom: -55px;
  left: 0px;
  box-sizing: border-box;
  display: flex;
  padding: 7px 16px 12px 16px;
  justify-content: space-between;
  align-items: flex-end;
  visibility: hidden;
  transition: 0.5s;
}
.text-from {
  font-size: 10px;
  text-align: left;
}
.text-price {
  font-size: 20px;
}
.item-details-container {
  font-size: 14px;
  display: flex;
}
.item-details-container::after {
  float: right;
  margin-left: 18px;
  content: url(../img/right-arrow.png);
}
.footer {
  height: 20px;
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 12px;
}

.header-left {
  display: flex;
  align-self: flex-start;
}

.rollover1 {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  position: relative;
}

a.rollover {
  background: url(../img/logo.png); /* Путь к файлу с исходным рисунком  */
  display: block; /*  Рисунок как блочный элемент */
  width: 53px; /* Ширина рисунка */
  height: 47px; /*  Высота рисунка */
}
a.rollover:hover {
  background: url(../img/logo_hover.png); /* Путь к файлу с заменяемым рисунком  */
}

.rollover2 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
}

a.rollover2 {
  color: #ffffff;
  display: block;
  width: 53px; /* Ширина рисунка */
  height: 47px; /*  Высота рисунка */
  text-decoration: none;
}

a.rollover2:hover {
  color: #ff7b00;
  text-decoration: none;
}
