.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.link a {
  display: block; /* Ссылка как блочный элемент */
  text-align: center; /* Выравнивание по центру */
  height: 100%; /* Высота на весь слой */
  color: #666; /* Цвет ссылки */
 }
.color-text {
  color: #00d9ff;
}
.menu-text{
    display: flex;
    align-items: flex-start;
    font-size: 70px;
   
}
.menu-fon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(99, 99, 99);
    color: white;
    height: 70px;
    font-size: 27px;
  
}

.container-center{
  display: flex;
  justify-content: space-around;
  height: 399px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }

.menu-fon-item {
  display: flex;
  align-items: stretch;
  color: rgb(255, 255, 255);
  }

.menu-left {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  align-content: flex-start;
  justify-content: space-around;
  width: 344px;
  height: 399px;
  font-size: 27px;
  margin-top: 40px;
  padding: 10px;
}

.menu-left-item {
  padding: 20px;

}

.content {
  width: 1200px;
}

.content-img-wrapper {
  display:flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* центрируем элемент по вертикали */
  width: 885px; /* задали размеры блоку-родителю */
  height: 529px;
  border: 1px solid gray;
  margin: 40px;
}

.content-text {
  display:flex;
  justify-content: space-around;
  width: 885px; /* задали размеры блоку-родителю */
  height: 120px;
  border-radius: 0px;
  font-size: 18px;
  
}

.content-img {
  display: flex;
  justify content: center;
  align-items: center;
  height: 381px;
  width: 320px;
}

.footer-menu-fon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: gray;
    color: white;
    height: 70px;
    margin-top: 440px;
}

.footer-block {
   width: 1200px;
}

.footer-menu-fon-item {
  padding: 12px;
  font-size: 25px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
 
}
.footer-menu-fon-item-copy {
  display: flex;
  align-items: left;
  margin-left: auto;
  padding: 15px;
  font-size: 23px;
  color: wheat;
  }

  A {
    color: #000000;
    padding: 2px; /* Поля вокруг текста */
    text-decoration: none;
   }

  a:link {
    color: rgb(0, 0, 0); /* Цвет ссылок
    padding: 2px; Поля вокруг текста  */
   }
  a:hover {
    background: #131210; /* Цвет фона под ссылкой */ 
    color: #ffe; /* Цвет ссылки */ 